In [4]:
import numpy as np 
import pandas as pd 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
df=pd.read_csv("covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [18]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [54]:
X=df.iloc[:,0:5] #here gender and city are nominal columns and cough and has_covid are ordinal columns
Y=df.iloc[:,-1]
from sklearn.model_selection import train_test_split
[X_train,X_test,Y_train,Y_test]=train_test_split(X,Y)

In [136]:


# Initialize SimpleImputer
impute = SimpleImputer()

# Fit the imputer on the 'fever' column of the training set
impute.fit(X_train[["fever"]])  # Ensure it's 2D by using double brackets

# Transform both training and testing data
X_train_fever = impute.transform(X_train[["fever"]])  # Double brackets ensure it's 2D
X_test_fever = impute.transform(X_test[["fever"]])    # Double brackets ensure it's 2D

# Result
X_train_fever

encoder=OrdinalEncoder(categories=[["Mild","Strong"]])
encoder.fit(X_train[["cough"]])
X_train_cough=encoder.transform(X_train[["cough"]])
X_test_cough=encoder.transform(X_test[["cough"]])
encoder2=OneHotEncoder(drop="first")
X_train_new=encoder2.fit_transform(X_train[["gender","city"]]).toarray()
encoder2.transform(X_test[["gender","city"]]).toarray()
X_train_age=X_train.drop(columns=["fever","gender","city","cough"]).values
np.concatenate((X_train_age,X_train_fever,X_train_cough,X_train_new),axis=1).shape

(75, 7)

In [122]:
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[("tnf1",SimpleImputer(),["fever"]),("tnf2",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),("tnf3",OneHotEncoder(drop="first"),["gender","city"])],remainder="passthrough")
X_train_transform=transformer.fit_transform(X_train)
X_train_transform
transformer.transform(X_test)

(25, 7)

array([51, 47, 83, 42, 60, 47, 16, 50, 19, 70, 66, 44, 80, 19, 82, 20, 71,
       82, 69, 27, 34, 72, 69, 15, 23, 75, 22, 71, 83,  5, 68, 49, 80, 14,
       65, 75, 49, 60, 18, 55, 64, 40, 54, 27,  6, 65, 38, 10, 65, 23, 64,
       56, 81, 81, 79, 83, 19, 14, 73, 69,  5, 82, 27, 59, 12, 51, 11, 20,
       49, 24, 34, 24, 51, 42,  5], dtype=int64)