In [10]:
import pandas as pd 
df=pd.read_csv("placement-dataset.csv")
df.isnull().sum() #detects missing values for each feature
df.describe() #provides mathematical summary for each numerical column
df.duplicated().sum()  #tells if there are any duplicate values or not 
df.corr() #pearson correlation more negative more inversely related,ranges betweeen -1 and 1 
df.corr()['Survived'] #to find the correlation of a particular column with other columns 
df.shape #tells the shape of the dataset,hpw big is the dataset(no. of rows and columns)
df["Brand"].nunique() #tells the unique no. of brands

            Unnamed: 0      cgpa        iq  placement
Unnamed: 0    1.000000  0.047478 -0.019080   0.144807
cgpa          0.047478  1.000000 -0.098791   0.821688
iq           -0.019080 -0.098791  1.000000  -0.083031
placement     0.144807  0.821688 -0.083031   1.000000