In [38]:
tuple1=() #tuples are similar to lists,bu they are immutable  
print(tuple)
tuple2=(2,)
print(tuple2)
tuple3=(1,2,3,4)
print(tuple3)
tuple4=(1,2.5,True,[1,2,3,4])
print(tuple4)
tuple5=(1,2,3,4,(1,2,3,4))
print(tuple5)
tuple6=tuple("hello")
print(tuple6)

<class 'tuple'>
(2,)
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3, 4])
(1, 2, 3, 4, (1, 2, 3, 4))
('h', 'e', 'l', 'l', 'o')

In [46]:
tuple7=(1,2,3,4)
print(tuple7[0:3])

(1, 2, 3)

In [103]:
# del tuple1
print(tuple2+tuple3)
print(tuple2*3)
print(2 in tuple2)
for i in tuple3:
    print(i,end=" ")
print(len(tuple3))
print(min(tuple3))
print(max(tuple3))
print(sorted(tuple3,reverse=True))
print(sum(tuple3))
print(tuple3.count(1))
print(tuple3.index(1))

(2, 1, 2, 3, 4)
(2, 2, 2)
True
1 2 3 4 4
1
4
[4, 3, 2, 1]
10
1
0

In [99]:
import time
start=time.time()
list1=list(range(100000))
tuple1=tuple(range(100000))
for i in list1:
    i=i*5
    i=i*10
print(time.time()-start)
for i in tuple1:
    i=i*5
    i=i*10
print(time.time()-start)

0.037110090255737305
0.06403684616088867

In [95]:
import sys
list1=list(range(100000))
tuple1=tuple(range(100000))
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple1))

800056
800040

In [107]:
a=(1,2,3,4)
b=a
a=a+(5,6)
print(a)
print(b)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4)

In [113]:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [115]:
a=1
b=2
a,b=b,a
print(a)
print(b)

2
1

In [117]:
a,b,*others=(1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [121]:
a=(1,2,3,4)
b=(5,6,7,8)
tuple4=tuple(zip(a,b))
print(tuple4)

((1, 5), (2, 6), (3, 7), (4, 8))

In [137]:
set1=set() #sets are mutable but set elements are immutable
print(type(set1))
# set2={1,2,3,4,{5,6}} #cant have 2d sets
# print(set2)
set3={2,3,4,True,"shreya",(1,2,3,4)} #cant have true and 1 together as sets dont have duplicates 
print(set3)
set4=set([1,2,3,4])
print(set4)

<class 'set'>
{(1, 2, 3, 4), True, 2, 3, 4, 'shreya'}
{1, 2, 3, 4}

In [139]:
set5={1,2,3,4}
set6={4,3,2,1}
print(set5==set6)

True

In [147]:
set7={1,2,3,4}
set7.add(5)
print(set7)
set7.update([5,6,7])
print(set7)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [165]:
set8={1,2,3,4,5}
# del set8
set8.discard(2)
print(set8)
set8.remove(5)
print(set8)
set8.pop()
set8.clear()
print(set8)

{1, 3, 4, 5}
{1, 3, 4}
set()

In [229]:
set9={1,2,3,4}
set10={5,4,6,7}
print(set9 | set10)
print(set9 & set10)
print(set9 - set10)
print(set10 - set9)
print(len(set9))
print(min(set9))
print(max(set9))
print(sorted(set9))
print(set9.union(set10))
print(set9.intersection(set10))
set9.update(set10)
print(set9)
print(set9.intersection(set10))
print(set9.intersection_update(set10))
print(set9)
print(set9.difference(set10))
set9.difference_update(set10)
print(set9)
set9={1,2,3,4}
print(set9.symmetric_difference(set10))
set9.symmetric_difference_update(set10)
print(set9)
print(set9.isdisjoint(set10))
print(set9.issubset(set10))
print(set9.issuperset(set10))
set11=set10.copy()
print(set11)

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3}
{5, 6, 7}
4
1
4
[1, 2, 3, 4]
{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3, 4, 5, 6, 7}
{4, 5, 6, 7}
None
{4, 5, 6, 7}
set()
set()
{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}
False
False
False
{4, 5, 6, 7}

In [235]:
set12=frozenset([1,2,3,4]) #immutable set
set13={1,2,3,4,frozenset([5,6,7,8])}
print(set13)

{1, 2, 3, 4, frozenset({8, 5, 6, 7})}