In [4]:
import numpy as np 
import pandas as pd
index=[("cse",2019),("cse",2018),("cse",2017),("ece",2019),("ece",2018),("ece",2017)]
marks=pd.Series([1,2,3,4,5,6],index=index)
marks[("cse",2019)]

np.int64(1)

In [6]:
index=pd.MultiIndex.from_tuples(index)
marks=pd.Series([1,2,3,4,5,6],index=index)
marks["cse"]
index=pd.MultiIndex.from_product([["cse","ece"],[2019,2018,2017]])
marks=pd.Series([1,2,3,4,5,6],index=index)

In [8]:
marks.unstack()

     2017  2018  2019
cse     3     2     1
ece     6     5     4

In [15]:
df=pd.DataFrame(data=[(1,2),(2,3),(3,4),(4,5),(5,6),(6,7)],index=pd.MultiIndex.from_product([["delhi","mumbai"],[2019,2018,2017]]),columns=["cse","ece"])
df
branch_df2=pd.DataFrame(data=[(1,2,3,4),(2,3,4,5),(3,4,5,6),(4,5,6,7)],index=[2019,2020,2021,2022],columns=pd.MultiIndex.from_product([["delhi","mumbai"],["avg_package","students"]]))
branch_df2
branch_df3=pd.DataFrame(data=[(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16),(17,18,19,20),(21,22,23,24),(25,26,27,28),(29,30,31,32)],index=pd.MultiIndex.from_product([["cse","ece"],[2019,2020,2021,2022]]),columns=pd.MultiIndex.from_product([["delhi","mumbai"],["avg_package","students"]]))
branch_df3

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           3        4
    2020           5        6           7        8
    2021           9       10          11       12
    2022          13       14          15       16
ece 2019          17       18          19       20
    2020          21       22          23       24
    2021          25       26          27       28
    2022          29       30          31       32

In [61]:
df.iloc[0:2]
df.iloc[[0,2,3]]
df["cse"]
df.iloc[:3,[0,1]]
df.sort_index(inplace=True)
df.loc[("delhi",2017):("mumbai",2017)]

             cse  ece
delhi  2017    3    4
       2018    2    3
       2019    1    2
mumbai 2017    6    7

In [73]:
branch_df3.sort_index(ascending=False)
branch_df3.sort_index(ascending=[False,True])
branch_df3.sort_index(level=1,ascending=False)
branch_df3.transpose()
branch_df3.swaplevel(axis=1)

         avg_package students avg_package students
               delhi    delhi      mumbai   mumbai
cse 2019           1        2           3        4
    2020           5        6           7        8
    2021           9       10          11       12
    2022          13       14          15       16
ece 2019          17       18          19       20
    2020          21       22          23       24
    2021          25       26          27       28
    2022          29       30          31       32

In [105]:
df=pd.DataFrame([1],columns=["cse"])
df.melt(var_name="branch",value_name="value")
df=pd.DataFrame({"branch":["cse","ece"],"num_students":[100,200]})
df.melt(id_vars=["branch"])
confirm=pd.read_csv("time_series_covid19_confirmed_global.csv")
deaths=pd.read_csv("time_series_covid19_deaths_global.csv")
confirm=confirm.melt(id_vars=["Province/State","Country/Region","Lat","Long"],var_name="date",value_name="confirm")
death=deaths.melt(id_vars=["Province/State","Country/Region","Lat","Long"],var_name="date",value_name="deaths")
confirm.merge(death,on=[""])